<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-8">
        <h3 class="panel-title"></h3>
      </div>
      <div class="col-xs-4 text-right">
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
    <img [src]="" alt="" class="img-responsive" style="max-height: 100px" />
  </div>
  <div class="panel-body">
    <p>Email:</p>
    <p>Phone:</p>
  </div>
</div>
