<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      <button class="btn btn-success">New Contact</button>
    </div>
    <div class="pull-left">
      <h3 class="list-group-item-heading">Contacts</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <cms-contact-item
      *ngFor="let contact of contacts"
      (click)="onSelected(contact)"
      [contact]="contact"
      class="list-group-item clearfix"
    ></cms-contact-item>
  </div>
</div>
